#loader {
    position: fixed;
    inset: 0;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.road {
    width: 300px;
    height: 4px;
    background: #555;
    position: relative;
    overflow: hidden;
}
.car{
    width: 40px;
    height: 20px;
    background: #e63946;
    border-radius: 4px;
    position: absolute;
    left: -50px;
    top: -8px;
    animation: drive 2s linear infinite;
}
@keyframes drive {
    from {left: -50px}
    to {left: 310px}

}
.car::before,
.car::after {
  content: '';
  position: absolute;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}
.car::before { left: 4px; }
.car::after { right: 4px; }
.loading-text {
  color: #fff;
  margin-top: 1rem;
  font-style: italic;
  text-align: center;
}